/*.thing-form {*/
    /*margin: 20px 0;*/
/*}*/

/*#banner {*/
    /*border-bottom: none;*/
    /*margin-top: -20px;*/
/*}*/

/*#banner h1 {*/
    /*font-size: 60px;*/
    /*line-height: 1;*/
    /*letter-spacing: -1px;*/
/*}*/

/*.hero-unit {*/
    /*position: relative;*/
    /*padding: 30px 15px;*/
    /*color: #F5F5F5;*/
    /*text-align: center;*/
    /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);*/
    /*background: #4393B9;*/
/*}*/

/*.footer {*/
    /*text-align: center;*/
    /*padding: 30px 0;*/
    /*margin-top: 70px;*/
    /*border-top: 1px solid #E5E5E5;*/
/*}*/

/*.navbar-text {*/
    /*margin-left: 15px;*/
/*}*/
.mainbg{

  background-image: url('../../assets/images/fun-ttn-d.jpg');
  width: 100%;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;


}

.content {
  width: 100%;
  height: 800px;
  margin: 0;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  display: block;
}

.form {
  position: absolute;
  top: 220px;
  left: 400px;
  width: 350px;
  height: 250px;
  background-color: rgba(255,255,255,0.9);;
  color: #222;
  -webkit-filter: blur(0px);
  display: block;
}

.content1 {
  width: 150px;
  height: 120px;
  margin-left: 120px;
  margin-top: 10px;

}
.center {
  text-align: center;
  letter-spacing: 1px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/*.btn-google-plus {*/
/*color: #fff;*/
/*background-color: #dd4b39;*/
/*border-color: #c53727;*/
/*}*/

/*.btn-github {*/
/*color: #fff;*/
/*background-color: #fafafa;*/
/*border-color: #ccc;*/
/*}*/

#customBtn {
  display: inline-block;
  background: red;
  color: white;
  width: 220px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  margin-left: 70px;
}
#customBtn:hover {
  cursor: pointer;
}
span.label {
  font-family: serif;
  font-weight: normal;
}

span.buttonText {
  display: inline-block;
  text-align: center;

  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.buttonText img{
  width: 16%;
  height: 10%;
}
