
<form class="navbar-form navbar-left " role="search">


  <div class="form-group">
    <div class="row post-create">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      &nbsp;&nbsp;<label for="basic-url">Create Your Buzz</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Header</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="postd.header" placeholder="Write heading..">
      </div>
      <div class="input-group">
        <span class="input-group-addon" >Content</span>
        <textarea type="text" class="form-control" id="content" aria-describedby="basic-addon3" ng-model="postd.content" placeholder="Share your thought" ng-model="links"></textarea>
      </div>
      <p ng-bind-html-unsafe="links|linky"></p>
      <div class="input-group">
        <div class="dropdown">
          <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">

            <li><a href="#">Lost and Found</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Buzz</a></li>
          </ul>
        </div>

      </div>

      <label for="upload" class="input-group.inline">
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
        <input type="file" id="upload" style="display:none" file-mode="">
      </label>

      <!--<div class="input-group inline">-->
      <!--<div class="pull-left">-->
      <!--<button><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></button>-->
      <!--</div>-->

      <div class="pull-right">
        <!--<button><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></button>-->
        <button ng-click="postfunc()"><img src="../assets/images/post_btn.png"></button>
      </div>
    </div>
  </div>

  </div>

</form>






<div class="margin">
  <div class="buzz-list">

    <div class="row">
      <div class="col-sm-10 buzz"  ng-repeat="buzz in BuzzHome.buzzs" >
        <div class="thumbnail" >
          <!--<img src="..." alt="...">-->
          <div class="caption">
            <div class="font-color">
              <span ng-show="isLoggedIn()" >{{ getCurrentUser().email }} Buzz</span>
              (<span ng-show="isLoggedIn()" >{{ getCurrentUser().name }}</span>)
            </div>
            <div class="date-font">

              <span>{{buzz.dateCreated|amCalendar}}</span>

              (<span>{{buzz.dateCreated | date:'dd-MM-yy'}}</span>)
            </div>
            <div class="div-align">
              <h3>{{buzz.header}}</h3>
              <p ng-bind-html=" buzz.content|linky"></p>
            </div>

            <span class="pull-left"><button class="like-dislike-size" ng-click="count()"><img src="../../assets/images/like.png"></button>&nbsp;&nbsp;{{buzz.likes}}</span>
            &nbsp;&nbsp;<span class="pull-right"><button class="like-dislike-size"><img src="../../assets/images/dislike.png"></button>&nbsp;&nbsp;{{buzz.dislikes}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
