.buzz-list.buzz{
  min-width: 800px;
}
.la-buzz-post{
  min-width: 1000px;
}
.la-post{
  margin-top: 50px;
}
.la-input-group{
  margin-top: 10px;
}
.la-post-create {
  border:1px solid black;
  padding: 20px;
  background-color: #faf2cc;
  width: 800px;
}
.la-input-group.inline{
  display: inline;
  margin-top: 500px;
}
.la-head{
  color:#00b3ee;
  font-size: 12px;
}
.la-date{
  font-size: 12px;
}
.la-div{
  text-align: center;
}
