.navbar-form .form-control.wi{
  width: 150px;
}
.form-control.wi{
  width: 200px;
  display: inline;
}
.label-concern{
  padding-top: 40px;
}
textarea.form-control{
  width:400px;
}
.view-table{
  margin:60px;
  width: 750px;
  text-align: center;
}
.div-form{
  margin-top: 60px;
  border:1px solid black;
  background-color: #faf2cc;
  width: 750px;
  height: 550px;
  margin-left: 20px;
}
.compl-head{
  padding-top: 25px;
}
.div-department{
  padding-top: 35px;
}
.image-div{
  padding-top:35px;
}
.heading{
  text-align: center;
}

